{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Responsive Registration Form | CodingLab </title>
  <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<body>
  <div class="container">
    <!-- Title section -->
    <div class="title">Registration</div>
    <div class="content">
      <!-- Registration form -->
      <form method="post" action="register/student/">
        {% csrf_token %}
        <div class="user-details">
          <!-- Input for Full Name -->
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name" name="name" required>
          </div>
          <!-- Input for Username -->
          <div class="input-box">
            <span class="details">Father Name</span>
            <input type="text" placeholder="Enter your father name" name="father_name" required>
          </div>
          <!-- Input for Email -->
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" placeholder="Enter your email" name="email" required>
          </div>
          <!-- Input for Phone Number -->
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your phone number" name="phone_number" pattern="[0-9]{10}" required>
          </div>
          <!-- Input for Password -->
          <div class="input-box">
            <span class="details">School Name</span>
            <input type="text" placeholder="Enter your school name" name="school" required>
          </div>
          <!-- Input for Confirm Password -->
          <div class="input-box">
            <span class="details">Class</span>
            <input type="text" placeholder="Enter your class number" name="student_class" required>
          </div>
          <div class="input-box">
            <span class="details">Roll Number</span>
            <input type="text" placeholder="Enter your Roll No" name="roll_number" required>
          </div>
        <div class="input-box">
          <span class="details">Date of Birth</span>
          <input type="date" placeholder="Date of Birth" name="dob" required>
        </div>
      </div>
        <div class="gender-details">
          <!-- Radio buttons for gender selection -->
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <!-- Label for Male -->
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Male</span>
            </label>
            <!-- Label for Female -->
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Female</span>
            </label>
            <!-- Label for Prefer not to say -->
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div>
        <!-- Submit button -->
        <div class="button">
          <button type="submit" value="Register">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/accounts.js' %}"></script>
</body>
</html>