{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Responsive Registration Form | CodingLab </title>
  <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>
<body>
  <div class="container">
    <!-- Title section -->
    <div class="title">Registration</div>
    <div class="content">
      <!-- Registration form -->
      <div id="form-error" style="color: red;"></div>
      <form id="student-registration-form">
        {% csrf_token %}
        <div class="user-details">
          <!-- Input for Full Name -->
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name" id="name" required>
          </div>
          <!-- Input for Username -->
          <div class="input-box">
            <span class="details">Father Name</span>
            <input type="text" placeholder="Enter your father name" id="father_name" required>
          </div>
          <!-- Input for Email -->
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" placeholder="Enter your email" id="email" required>
          </div>
          <!-- Input for Phone Number -->
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your phone number" id="phone_number" pattern="[0-9]{10}" required>
          </div>
          <!-- Input for Password -->
          <div class="input-box">
            <span class="details">School Name</span>
            <input type="text" placeholder="Enter your school name" id="school" required>
          </div>
          <!-- Input for Confirm Password -->
          <div class="input-box">
            <span class="details">Class</span>
            <input type="text" placeholder="Enter your class number" id="student_class" required>
          </div>
          <div class="input-box">
            <span class="details">Roll Number</span>
            <input type="text" placeholder="Enter your Roll No" id="roll_number" required>
          </div>
        <div class="input-box">
          <span class="details">Date of Birth</span>
          <input type="date" placeholder="Date of Birth" id="dob" required>
        </div>
        <div class="input-box">
          <span class="details">Gender</span>
          <select name="gender" id="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        </div>
      </div>
        <!-- Submit button -->
        <div class="button">
          <button type="submit" value="Register">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/accounts.js' %}"></script>
</body>
</html>